.headerStyle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #e7e7e7
}

.linkStyle{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-left: 15px;
}